.img-wrapper {
    float: left;

    width: fit-content;
    height: fit-content;

    display: flex;

    img {
        width: fit-content;

        max-width: 100%;
        max-height: 100%;
        object-fit: cover;

        pointer-events: none;
    }
}