@import '../../index.scss';

#page-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    background-color: white;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: flex-start;

    #nav-wrapper, #right-wrapper {
        height: 100%;
    
        display: flex;
        align-items: flex-start;
        justify-content: center;

        padding: 0 4rem;
    
        color: black;
    }

    #content-wrapper {
        width: 100%;
        height: 100%;
    }

    #right-wrapper {
        visibility: hidden;
    }

    @include for-size(laptop) {
        #content-wrapper { padding-right: 4rem; }
        #right-wrapper { display: none; }
    }

    @include for-size(phone) {
        display: flex;
        align-items: center;
        justify-content: center;

        #nav-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;

            width: fit-content;
            height: 100%;

            background-color: white;
            color: black !important;
        }
        
        #content-wrapper { padding: 2rem; z-index: 1; }
        #right-wrapper { display: none; }
    }
}