@import '../../index.scss';

#about-page-wrapper {
    width: 100%;
    height: fit-content;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 4vh 0;
    gap: 4em;

    #bio-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 2em;

        #bio-picture {
            width: 15em;
            height: 15em;
            border-radius: 50%;
            background-image: url('./aboutpic.jpg');
            background-size: cover;
        }
    
        #bio-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1em;
    
            font-family: $body-font;
            font-size: $body-font-sz-3;
    
            span {
                font-family: $mono-font;
                font-size: $mono-font-sz-2;
                font-weight: bold;
            }
        }
    }

    #contact-wrapper {
        width: 100%;
        height: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;

        a { color: black; }

        .contact-wrapper-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2em;

            .contact-info {
                font-family: $mono-font;
                font-size: $mono-font-sz-3;
                font-weight: bold;
    
                &:hover {
                    font-style: italic;
                }
            }

            .contact-logo {
                font-size: 1.25rem;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    fill: white;
                    stroke-width: 4px;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    overflow: visible;
                    paint-order: stroke;
                }
            }

            a:nth-of-type(2) {
                .contact-logo {
                    font-size: 1.4rem;
                }
            }
        }

    }
}