@import 'https://fonts.googleapis.com/css2?family=Bellefair&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap';
@import 'https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap';

// $mono-font: 'Bellefair', 'Courier New', Courier, monospace;
// $mono-font: 'Cutive Mono', 'Courier New', Courier, monospace;
// $mono-font: 'IM Fell DW Pica', 'Courier New', Courier, monospace;
$mono-font: 'Xanh Mono', 'Courier New', Courier, monospace;
// $body-font: 'Rethink Sans', sans-serif;
$body-font: 'Funnel Sans', sans-serif;

$body-font-sz-1: 2rem;
$body-font-sz-2: 1.5rem;
$body-font-sz-3: 1rem;

$mono-font-sz-1: 1.8rem;
$mono-font-sz-2: 1.35rem;
$mono-font-sz-3: 0.9rem;

*, html, body {
	box-sizing: border-box;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	text-decoration: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


/* Element First Media Queries
========================================================= */

// A map of breakpoints.
$breakpoints: (
	phone: 480px,
	tablet: 768px,
	laptop: 1279px,
	desktop: 1280px
);

@mixin for-size($breakpoint, $direction:down) {

	// If the breakpoint exists in the map.
	@if map-has-key($breakpoints, $breakpoint) {

		// Get the breakpoint value.
		$breakpoint-value: map-get($breakpoints, $breakpoint);

		// Determine the direction and then write the media query.
		@if $direction == up {
			@media (min-width: $breakpoint-value) {
				@content;
			}
		}
		@else if $direction == down {
			@media (max-width: $breakpoint-value) {
				@content;
			}
		}
	}
	// If the breakpoint doesn't exist in the map, pass a manual breakpoint
	@else {
		@if $direction == up {
			@media (min-width: $breakpoint) {
				@content;
			}
		}
		@else if $direction == down {
			@media (max-width: $breakpoint) {
				@content;
			}
		}
	}
}